---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Projects">
  <div class="bg-base-200 border-l-4 border-secondary w-full p-4 min-w-full">
    <p class="font-bold">Sorry!</p>
    <p>This page is still under development. Please check back later!</p>
  </div>
</BaseLayout>
